<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <body>
        {% if request.user.is_authenticated %}
            <p>User is logged in :)</p>
            <p>Username {{ request.user.username }}</p>
        {% else %}
            <p>User is not logged in :(</p>
        {% endif %}
    </body>
</head>
<body>
    
</body>
</html>